window {
margin: 0px;
border: 5px solid #f5c2e7;
border-radius: 15px;
background-color: #11111b;
}

#input {
margin: 5px;
border: none;
color: #cdd6f4;
background-color: #1e1e2e;
/* border-radius: 15px; */
}

#inner-box {
margin: 5px;
border: none;
background-color: #11111b;
border-radius: 15px;
}

#outer-box {
margin: 5px;
border: none;
background-color: #11111b;
border-radius: 15px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #cdd6f4;
} 

#entry:selected {
background-color: #6c7086;
border-radius: 15px;
}
